<div class="bg-black flex text-white text-xs md:text-base items-center justify-around">
  <LinkTo @route="home" class="text-center flex-1 py-4 hover:bg-grey-dark">Home</LinkTo>
  <LinkTo @route="bio" class="text-center flex-1 py-4 hover:bg-grey-dark">Bio</LinkTo>
  <LinkTo @route="contact" class="text-center flex-1 py-4 hover:bg-grey-dark">Contact</LinkTo>
</div>