<div
  class='border-emerald-400 bg-fuscia-200 flex justify-around w-full h-12 border-b-2'
>
  <NavBarLink @route='home'>
    Home
  </NavBarLink>
  <NavBarLink @route='treatment'>
    Treament
  </NavBarLink>
  <NavBarLink @route='contact'>
    Contact
  </NavBarLink>
  <NavBarLink @route='insurance'>
    Insurance
  </NavBarLink>
  <a
    class='lg:inline-block lg:mt-0 hover:text-blue-800 hover:underline focus:text-blue-800 focus:underline self-center block text-2xl text-purple-800'
    href='https://www.valant.io/portal/AuthenticSelfCounseling'
  >
    Patient Portal
  </a>
</div>