<div
  class="border-emerald-400 bg-fuscia-200 flex justify-around w-full h-12 border-b-2"
>
  <NavBarLink @route="home">
    Home
  </NavBarLink>
  <NavBarLink @route="treatment">
    Treament
  </NavBarLink>
  <NavBarLink @route="contact">
    Contact
  </NavBarLink>
</div>