{{page-title 'Authentic Self Counseling'}}
<div
  class='border-emerald-400 bg-emerald-100 w-screen h-screen overflow-y-scroll border-2'
>
  <NavBar />
  <div class='flex flex-col w-full p-3'>
    {{outlet}}
  </div>
</div>