{{page-title 'Home'}}
<h1 class='font-script lg:text-4xl text-2xl text-center'>
  Authentic Self Counseling
</h1>
<div class='max-h-96 flex mx-auto my-3'>
  <img
    class='object-contain'
    src='assets/images/as3.jpeg'
    alt='sunset in a field within a shape of a head'
  />
</div>

<div
  class='border-emerald-400 md:text-base lg:text-lg bg-emerald-50 w-5/6 p-2 mx-auto text-sm border'
>
  <p>
    I believe that the road to healing begins with a therapeutic relationship
    based on acceptance, trust, and unconditional positive regard. Using
    existential therapy and person centered approaches, I guide clients towards
    exploring strengths and values to help frame their thoughts, emotions, and
    experiences in a way that focuses on their proven resilience and empowers
    clients to live their most authentic lives. My greatest reward as a
    therapist is witnessing the courage and vulnerability clients demonstrate in
    taking steps to transform their lives by using healthy coping mechanisms,
    new forms of communication, and CBT techniques.
  </p>
  <br />
  <p>
    I have a particularly broad experience in treating adults and adolescents
    with mental health and substance use issues. Some areas of specialty are
    working with survivors of narcissistic abuse, trauma, anxiety, depression,
    self-esteem, and self-harm. I help clients gain insights into communication
    and interpersonal issues through psychoeducation and analysis.
  </p>
</div>
<div class='max-h-80 flex mx-auto mt-3'>
  <img
    class='object-contain'
    src='assets/images/shaida.jpg'
    alt='Shaida Vafaei'
  />
</div>
<figcaption class='my-1 text-center'>
  Shaida Vafaei (LPCC)
</figcaption>