{{page-title "Home"}}
  <h1 class="font-script">Welcome to your Authentic Self</h1>
  <div class="flex flex-col">
    <div class="flex">
      <img src="assets/images/shaida.jpg" alt="Shaida Vafaei" />
    </div>
    <div>
      <p>
      I believe that the road to healing begins with a therapeutic relationship based on acceptance, trust, and unconditional positive regard. Using existential therapy and person centered approaches, I guide clients towards exploring strengths and values to help frame their thoughts, emotions, and experiences in a way that focuses on their proven resilience and empowers clients to live their most authentic lives. My greatest reward as a therapist is witnessing the courage and vulnerability clients demonstrate in taking steps to transform their lives by using healthy coping mechanisms, new forms of communication, and CBT techniques.
      </p>
      <p>
I have a particularly broad experience in treating adults and adolescents with mental health and substance use issues. Some areas of specialty are working with survivors of narcissistic abuse, trauma, anxiety, depression, self-esteem, and self-harm. I help clients gain insights into communication and interpersonal issues through psychoeducation and analysis.
      </p>
    </div>
    <a href="https://www.psychologytoday.com/us/therapists/shaida-vafaei-lakeville-mn/417038">Psychology Today</a>
  </div>

