{{page-title 'Insurance'}}
<h1 class='font-script lg:text-4xl my-2 text-2xl text-center'>
  Insurance
</h1>
<div class='max-h-96 flex mx-auto mb-3'>
  <img
    class='object-contain'
    src='assets/images/as6.jpeg'
    alt='leafy branch handing over reflective water'
  />
</div>
<div
  class='border-emerald-400 md:text-base lg:text-lg bg-emerald-50 w-2/3 p-2 mx-auto text-sm border'
>
  <h2 class='my-2 text-2xl font-bold'>
    I accept the following:
  </h2>
  <ul>
    <li class='my-2 text-xl'>
      Aetna
    </li>
    <li class='my-2 text-xl'>
      BlueCross/BlueShield
    </li>
    <li class='my-2 text-xl'>
      Cigna and Evernorth
    </li>
    <li class='my-2 text-xl'>
      HealthPartners
    </li>
    <li class='my-2 text-xl'>
      PreferredOne *Coming Soon*
    </li>
    <li class='my-2 text-xl'>
      Self Pay
    </li>
  </ul>

</div>
<div class='max-h-96 flex mx-auto my-3'>
  <img
    class='object-contain'
    src='assets/images/as5.jpeg'
    alt='sun shining through plant branches'
  />
</div>