{{page-title 'Treatment'}}
<h1>
  Treatment
</h1>
<div class="">
  <h2>
    CBT
  </h2>
  <p>
    CBT places an emphasis on helping individuals learn to be their own therapists. Through exercises in the session as well as “homework” exercises outside of sessions, clients are helped to develop coping skills whereby they can learn to change their own thinking, problematic emotions, and behavior. CBT helps you become aware of inaccurate or negative thinking so you can view challenging situations more clearly and respond to them in a more effective way. CBT can be a very helpful tool in treating mental health disorders, such as depression, anxiety disorders, post-traumatic stress disorder (PTSD), and substance use disorders. But not everyone who benefits from CBT has a mental health condition. CBT can be an effective tool to help anyone learn how to better manage stressful life situations.
  </p>
  <h2>
    NARCISSISTIC ABUSE
  </h2>
  <p>
    Narcissists are the masters of manipulation and disguise. If you are in a relationship with a narcissist or have encountered one in your lifetime, chances are you have experienced or witnessed some of their toxic behavior. Narcissistic abuse can be subtle, often worsens over time, and frequently follows a cycle of idealization, devaluation, and rejection. The abuse may be emotional, psychological, financial, sexual, or physical.
Narcissistic abuse has both short and long-term effects on the survivor no matter how long or short the involvement. While surviving the relationship, clients often find their self-worth and sense of self has been harmed as well as their other relationships and support systems. Boundaries can be an inconceivable concept as we have been convinced we would be rejected or punished for setting them.
In therapy we will rediscover and strengthen our voice as a tool to empower ourselves authentically.  We will learn to set boundaries, maintain expectations, communicate assertively, as well identify the worth that lies within by exploring core values that shape our beliefs and behaviors.
  </p>
  <h2>
    SUBSTANCE USE
  </h2>
  <p>
    A substance use disorder is more than a physical dependence on drugs or alcohol. Even after detox, when your body is no longer dependent, you're at high risk for relapse. Certain psychological and social factors can be powerful triggers that lead to relapse:
  </p>
  <ul>
    <li>
      Stress, especially sudden life stresses
    </li>
    <li>
      Cues in the environment, like visiting a neighborhood
    </li>
    <li>
      Social networks, like spending time with friends who continue to use
    </li>
  </ul>
  <p>
    These things can create a strong ongoing urge to use again. Counseling helps you escape cravings and learn to manage what life throws at you without drugs or alcohol. Chemical Dependency is often linked to mental illness.  In therapy we will use motivational interviewing to identify your treatment goals (harm reduction or abstinence based) as well as cognitive behavioral therapy to address thoughts of use.  We will treat underlying mental health factors in conjunction with addressing your substance use concerns to help you develop healthy habits and coping skills that will contribute to your mental wellness.
  </p>
</div>